/*---------------------------------
If you want, you can directly edit the colors in the css.
If needed, you have the original values at the end of this css.
There's also a backup css. If you delete a css color declaration here, the original value will load from another css :)  
-----------------------------------*/



/*---------------------------------
	GENERAL
-----------------------------------*/

/* BODY TEXT and BACKGROUND COLOR */
body {
	color: ;	
	background-color: ;
	}

/* BODY HEADING LEVEL 1 */
h1 {
	color: ;	
	}

/* BODY HEADING LEVEL 2 */
h2 {
	color: ;	
	}


/*---------------------------------
	TABLES
-----------------------------------*/

/* TABLE HEADING TEXT COLOR */
th {
	color: ;	
	}

/* TABLE HEADING BACKGROUND COLOR */
.tablesorter-headerRow {
	background-color: ;
	}

/* TABLE CONTENT TEXT COLOR */	
td {
	color: ;	
	}	

/* ARTIST COLUMN COLOR */	
td.artist_column {
	background-color: ;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.artist_column {
	background-color: ;
	}


/* TASK COLUMN COLOR */	
td.task_column {
	background-color: ;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.task_column {
	background-color: ;
	}


/* STATUS COLUMN COLOR */	
td.status_column {
	background-color: ;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.status_column {
	background-color: ;
	}	

/*---------------------------------
	PRIORITY INFO
-----------------------------------*/

.high_priority {
	color: ;
	background-color: ;
	}

.normal_priority {
	color: ;
	background-color: ;
	}

.low_priority {
	color: ;
	background-color: ;
	}

.onhold_priority {
	color: ;
	background-color: ;
	}

