/*---------------------------------
If you want, you can directly edit the colors in the css.
If needed, you have the original values at the end of this css.
There's also a backup css. If you delete a css color declaration here, the original value will load from another css :)  
-----------------------------------*/


/*---------------------------------
	NAVBAR
-----------------------------------*/

/* NAVBAR BOX */
.navbar {
	background-color: ;
	border-color: ;
	box-shadow: ;	
	}

/* NAVBAR LINK COLOR */
.navbar-default .navbar-nav > li > a {
    color: ;	
    }

/* NAVBAR ACTIVE PAGE LINK */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: ;	
    background-color: ;
    }

/* NAVBAR LINK HOVER */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: ;	
    background-color: ;
    }

/* NAVBAR BRAND TEXT */
.navbar-default .navbar-brand {
    color: ; 
    }

/* NAVBAR BRAND TEXT HOVER */
a.navbar-brand:hover {
    color: ;	
    }


/*---------------------------------
	GENERAL
-----------------------------------*/

/* BODY TEXT and BACKGROUND COLOR */
body {
	color: ;	
	background-color: ;
	}

/* BODY HEADING LEVEL 1 */
h1 {
	color: ;	
	}

/* BODY HEADING LEVEL 2 */
h2 {
	color: ;	
	}


/*---------------------------------
	TABLES
-----------------------------------*/

/* TABLE HEADING TEXT COLOR */
th {
	color: ;	
	}

/* TABLE CONTENT TEXT COLOR */	
td {
	color: ;	
	}	

/* ARTIST COLUMN COLOR */	
td.artist_column {
	background-color: ;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.artist_column {
	background-color: ;
	}


/* TASK COLUMN COLOR */	
td.task_column {
	background-color: ;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.task_column {
	background-color: ;
	}
/* STATUS COLUMN COLOR */	
td.status_column {
	background-color: ;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.status_column {
	background-color: ;
	}	

/*---------------------------------
	PRIORITY INFO
-----------------------------------*/

.high_priority {
	color: ;
	background-color: ;
	}

.normal_priority {
	color: ;
	background-color: ;
	}

.low_priority {
	color: ;
	background-color: ;
	}

.onhold_priority {
	color: ;
	background-color: ;
	}


/*---------------------------------
	ADMIN PAGE
-----------------------------------*/

/* button color */
.artistsadmin {
	background-color: ;
	color: ;
	}

/* button when hover color */
.artistsadmin:hover {
	background-color: ;
	color: ;
	}

.artistsadmin h2 {
	color: ;
	}

/* button color */
.tasksadmin {
	background-color: ;
	color: ;
	}

/* button when hover color */
.tasksadmin:hover {
	background-color: ;
	color: ;
	}

/* button text color */
.tasksadmin h2 {
	color: ;
	}

/* button color */
.statusesadmin {
	background-color: ;
	color: ;
	}

/* button when hover color */
.statusesadmin:hover {
	background-color: ;
	color: ;
	}

/* button text color */
.statusesadmin h2 {
	color: ;
	}

/* button color */
.colorsadmin {
	background-color: ;
	color: ;
	}

/* button when hover color */
.colorsadmin:hover {
	background-color: ;
	color: ;
	}

/* button text color */
.colorsadmin h2 {
	color: ;
	}	
	
	
/*---------------------------------
	ORIGINAL CSS VALUES
-----------------------------------	

.navbar {
	background-color: #673AB7;
	border-radius: 0em;
	border-color: #673AB7;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #7C4DFF;
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #7C4DFF;
    }

.navbar-default .navbar-brand {
    color: #FFF;
    text-transform: uppercase;
    }

a.navbar-brand:hover {
    color: #FFF;
    }

body {
	color:#000;
	}

h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 2em;
	color:#000;
	}

h2 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5em;
	color:#000;
	}

th {
	color:#000;
	}

td {
	color:#000;
	}		

td.artist_column {
	background-color: #b2dfdb;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.artist_column {
	background-color: #b2dfdb;
	}

td.task_column {
	background-color: #ffe0b2;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.task_column {
	background-color: #ffe0b2;
	}

td.status_column {
	background-color: #d1c4e9;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.status_column {
	background-color: #d1c4e9;
	}	

.high_priority {
	color: white;
	background-color: #d9534f;
	}

.normal_priority {
	color: white;
	background-color: #5cb85c;
	}

.low_priority {
	color: white;
	background-color: #5bc0de;
	}

.onhold_priority {
	color: white;
	background-color: #999;
	}

.artistsadmin {
	background-color: ;
	color: ;
	}

.artistsadmin:hover {
	background-color: ;
	color: ;
	}

.artistsadmin h2 {
	color: ;
	}

.tasksadmin {
	background-color: ;
	color: ;
	}

.tasksadmin:hover {
	background-color: ;
	color: ;
	}

.tasksadmin h2 {
	color: ;
	}

.statusesadmin {
	background-color: ;
	color: ;
	}

.statusesadmin:hover {
	background-color: ;
	color: ;
	}

.statusesadmin h2 {
	color: ;
	}

.colorsadmin {
	background-color: ;
	color: ;
	}

.colorsadmin:hover {
	background-color: ;
	color: ;
	}

.colorsadmin h2 {
	color: ;
	}		
	
	 */