
/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/

th {
	text-align: left;

}

td {
	text-align: left;
}

table {
	width: 100%;
	}

.center_me {
	text-align: center;
	
	}

.priorities {
	text-align: left;
	vertical-align: middle;
}

.framesinput{
	width: 100px;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/

body{
margin:0;
padding:0;
color:#000;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.well-sm {
	background-color: #ECECEC;
	}