@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);


/*---------------------------------
	LAYOUT
-----------------------------------*/


body{
margin:0;
padding:0;
color:#000;
font-family: 'Open Sans', sans-serif;
}


h1.login_title {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3em;	
}


.navbar-brand{
	text-transform: uppercase;
}



.page-header {
	margin-top: 70px;
}

.margin-top-placeholder {
	margin-top: 3em;
}


.btn-lg {
	width: 80%;
}


.row {
	margin-left: 0px;
	margin-right: 0px;
}

.well-sm {
	background-color: #ECECEC;
	}


.color-swatch {
border-radius: 3px;
width: 100px;
height: 100%;
text-transform: uppercase;
text-align: center;
}	

 
td.duedate {
	max-width: 150px;
}

.select_dropdown {
	background-color: red;
	color: red;
	
	}

.center_me {
	text-align: center;
}	


h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 2em;
	color:#000;
	}

h2 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5em;
	color:#000;
	}

th {
	color:#000;
	}

td {
	color:#000;
	}		

td.artist_column {
	background-color: #536dfe;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.artist_column {
	background-color: #3f51b5;
	}

td.task_column {
	background-color: #ffab40;	
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.task_column {
	background-color: #ff9800;
	}

td.status_column {
	background-color: #7C4DFF;
	}	

.table-striped > tbody > tr:nth-child(2n+1) > td.status_column {
	background-color: #673AB7;
	}	

.high_priority {
	color: white;
	background-color: #f44336;
	width: 100px;
	height: 100%;
	text-transform: uppercase;
	text-align: center;
	}

.normal_priority {
	color: white;
	background-color: #4caf50;
	width: 100px;
	height: 100%;
	text-transform: uppercase;
	text-align: center;
	}


.low_priority {
	color: white;
	background-color: #607d8b;
	width: 100px;
	height: 100%;
	text-transform: uppercase;
	text-align: center;
	}

.onhold_priority {
	color: white;
	background-color: #9e9e9e;
	width: 100px;
	height: 100%;
	text-transform: uppercase;
	text-align: center;
	}




.artistsadmin {
	background-color: ;
	color: ;
	margin-top: 1em;
	margin-bottom: 1em;
}

.artistsadmin:hover {
	background-color: ;
	color: ;
}

.artistsadmin h2 {
	color: ;
}

.tasksadmin {
	background-color: ;
	color: ;
	margin-top: 1em;
	margin-bottom: 1em;
}

.tasksadmin:hover {
	background-color: ;
	color: ;
}

.tasksadmin h2 {
	color: ;
}

.statusesadmin {
	background-color: ;
	color: ;
	margin-top: 1em;
	margin-bottom: 1em;
}

.statusesadmin:hover {
	background-color: ;
	color: ;
}

.statusesadmin h2 {
	color: ;
}

.colorsadmin {
	background-color: ;
	color: ;
	margin-top: 1em;
	margin-bottom: 1em;
}

.colorsadmin:hover {
	background-color: ;
	color: ;
}

.colorsadmin h2 {
	color: ;
}

.loginsadmin {
	background-color: ;
	color: ;
		margin-top: 1em;
	margin-bottom: 1em;
}

.loginsadmin:hover {
	background-color: ;
	color: ;
}

.loginsadmin h2 {
	color: ;
}

.action_buttons a {
	width: auto;
}